.header {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;

}

#intro {
    margin-bottom: 200px;
    padding-top: 300px;
}

.header h1 {
    font-size: xx-large;
    color: white;
    font-weight: 700;
}

.header p {
    color: white;
    font-weight: 700;
}

.header h1 p {
    display: flex;
    flex-direction: column;
}

.about {
    text-align: center;
    padding: 50px;
}

.services {
    background-image: url(assets/backgrounds/s_image.jpg);
    text-align: center;
    padding: 150px;
    color: white;
}

.whatwedo{
    padding: 40px;
}
.content{
    display: flex;
    flex-direction: row;
}
.design,
.dev,
.prod{
    display: none;
    padding: 100px;
}
#des,
#dv,
#pr{
padding: 20px;
display: flex;
flex-direction: row;
}
#togg{
    display:none
}
.merged{
    justify-content: center;
}
.namemail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    margin-right: -270px;
    background-color: inherit;
    padding-right: 350px;

}

.email {
    margin-right: 20px;
    padding-right: 200px;
}
#pOne,#pTwo,#pThree{
    display: flex;
    flex-direction: row;
    width: 300px;
}
#img1,#img2,#img3{
    /* display: flex;
    flex-direction: column; */
    width: 300px;
    margin-left: 150px;
    justify-content: center;
}
.img img{
    padding: 20px;
}

/* #message {
    align-content: center;
    padding-right: 220px;
    padding-left: -50px;
    padding-bottom: 250px;


} */
#mce-MMERGE1{
    font-size: xx-large;
padding: 100px;
justify-content: center;
margin-left: 25%;
height:300px;
width:700px;
margin-top: 50px;
}
#mce-Email {
    padding: 50px;
}

/* #mouse{
    padding-top: 100px;
    /* margin-bottom: 0;
    padding: 0;
} */
